.light-blue{
    background-color: #c6dde9;
    }
.yellow{
    background-color: #f9b131;
    }
.orange{
    background-color: #f07949;
    }
.light-grey{
    background-color: #eaeaea;
    }
.dark-grey{
    background-color: #a8a19e;
    }